<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script
        type="module"
        src="../../static/vnc.js">
</script>

<script
    src="../../static/vnc-touch-keyboard.js">
</script>

<style>
#noVNC_keyboardinput {
  width: 1px;
  height: 1px;
  background-color: #fff;
  color: #fff;
  border: 0;
  position: absolute;
  left: -40px;
  z-index: -1;
  ime-mode: disabled;
}
</style>

<div style="background: rgba(11 11 11 / 70%); border-radius: 8px;">
    <div style="height: 509px; width: 896px;">
        <div style="height: 100%; width: 100%">
            <div id="top_bar" style="display: none">
                <div id="status">Подключение к сессии</div>
                <div id="sendCtrlAltDelButton" style="display: none">Send CtrlAltDel</div>
            </div>

            <div id="screen_loading" style="height: 100%">
                <div class="container" style="height: 100%">
                    <div style="height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center">
                        <div class="loader-41" style="color: white"></div>
                        <p style="margin-bottom: 3px">подключение к серверу</p>
                    </div>
                </div>
            </div>

            <div id="screen" class="vnc_background_disabler"
                 style="height: 100%; width: 100%; padding-right: 7px; display: none">
                <!-- This is where the remote screen will appear -->
            </div>
            <textarea id="noVNC_keyboardinput" autocapitalize="off"
            autocomplete="off" spellcheck="false" tabindex="-1"></textarea>

        </div>
    </div>
    <!-- <div id="screen_buttons"
         style="display: none; flex-direction: row; align-items: center; justify-content: center; margin: 12px 20px 17px;">
        <v-btn style="background: rgb(204,84,84); width: 108px; font-weight: 600; margin: 0 10px; color: white"
        @click="post('/vnc/reset/{{{ uniquecode }}}')">
            В начало
        </v-btn>
        <v-btn style="background: rgb(89,189,89); width: 108px; font-weight: 600; margin: 0 10px; color: white"
        @click="post('/vnc/confirm/{{{ uniquecode }}}')">
            Готово
        </v-btn>
    </div> -->

    <button id="noVNC_keyboard_button" style="background: rgb(89,189,89); width: 108px; font-weight: 600; margin: 0 10px; z-index: 9999; color: white"
    onclick="toggleVirtualKeyboard()">
        Клавиатура
</button>
</div>