<table align="center"
       style="border-spacing:0;border-collapse:collapse;color:#364364;width:auto!important;margin:0 auto">
    <tbody>
    <tr style="text-align:left" align="left">
        <td style="vertical-align:top;text-align:center;font-size:0;padding:0"
            align="center" valign="top">

            <div class="m_8795841967432013576b-mail-grid__column"
                 style="width:auto;max-width:216px;display:inline-block;vertical-align:top;text-align:left;margin:0;padding:0;font:15px/24px Arial,'Helvetica Neue',Helvetica,FreeSans,sans-serif"
                 align="left">
                <table style="border-spacing:0;border-collapse:collapse;color:#364364">
                    <tbody>
                    <tr style="text-align:left" align="left">

                        <center>
                            <td style="vertical-align:top;text-align:left;display:table-cell;padding:6px 6px 0"
                                align="left" valign="top">
                                <a href="https://ddostup.ru/#faq"
                                   title="FAQ" target="_blank">
                                    <img src="./static/icons/features-4.svg"
                                         alt="FAQ" width="50" height="50"
                                         style="border:0; background-color: #535353; border-radius: 12px; padding: 10px"
                                         class="CToWUd" data-bit="iit">
                                </a>
                            </td>


                            <td style="vertical-align:top;text-align:left;display:table-cell;padding:6px 6px 0"
                                align="left" valign="top">
                                <a href="https://ddostup.ru"
                                   title="Дай Доступ!" target="_blank">
                                    <img src="./static/icons/dd-logo.svg"
                                         alt="Дай Доступ!" width="50" height="50"
                                         style="border:0; background-color: #535353; border-radius: 12px; padding: 10px"
                                         class="CToWUd" data-bit="iit">
                                </a>
                            </td>


                            <td style="vertical-align:top;text-align:left;display:table-cell;padding:6px 6px 0"
                                align="left" valign="top">
                                <a href="https://t.me/kingOfSubs"
                                   title="telegram" target="_blank">
                                    <img src="./static/icons/tg.svg"
                                         alt="telegram" width="50" height="50"
                                         style="border:0; background-color: #535353; border-radius: 12px; padding: 12px;"
                                         class="CToWUd" data-bit="iit">
                                </a>
                            </td>
                        </center>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="m_8795841967432013576b-mail-grid__column"
                 style="width:auto;max-width:216px;display:inline-block;vertical-align:top;text-align:left;margin:0;padding:0;font:15px/24px Arial,'Helvetica Neue',Helvetica,FreeSans,sans-serif"
                 align="left">

            </div>

        </td>
    </tr>
    </tbody>
</table>