<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Статус активации</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%">


<div style="display: flex; flex-direction: column">
    <div style="display: flex; justify-content: center;">
        <b style="font-size: 2vw">Пожалуйста, напишите нам для активации подписки</b>

    </div>
    <div style="font-size: 1.4vw; padding: 10px 0">
        в Telegram: <a href="https://www.t.me/kingOfSubs" target="_blank">t.me/kingOfSubs</a>
    </div>
</div>

</body>
</html>